body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f4e9e9;
    height: 100vh;
}





.navbar {
    background-color: #9b7baa;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}
.navbar input {
    flex: 1;
    max-width: 500px;
    padding: 8px;
    border-radius: 20px;
    border: none;
}
.navbar .icons {
    display: flex;
    gap: 15px;
    padding-right: 15px;
}

.navbar .icons a{
    text-decoration: none;
}



.container {
    display: flex;
}
.sidebar {
    width: 250px;
    background: white;
    padding: 20px;
    min-height: 100vh;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    padding: 40px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.3;
}

.sidebar ul li:hover {
    background: #e0d0f0;
    border-radius: 5px;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
}





.chats{
    width: 250px;
    background: white;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}



.chat-list {
    flex: 1;
    overflow-y: auto;
}
.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.main-content {
    flex: 1;
    height: 100%;
    background-color: #ffffff;
}



.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}

.messages {
    width: 900px;
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #a3a3a3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.message {
    background: #ddd;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
    align-self: flex-start;
}
.message.user {
    background: #6200ea;
    color: white;
    align-self: flex-end;
}
.chat-input {
    width: 100%;
    border-top: 1px solid #ccc;
    display: flex;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.chat-input button {
    margin-left: 10px;
    padding: 10px;
    background: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}